body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC; /* البيج */
    margin: 0;
    padding: 0;
}

header {
    background-color: #032B44; /* الكحلي */
    color: white;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.hero {
    background-image: linear-gradient(to bottom, #F5F5DC, #F0E4CC);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.hero h1 {
    color: #032B44; /* الكحلي */
}

.hero button {
    background-color: #032B44; /* الكحلي */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.about, .services {
    background-color: #F0E4CC; /* درجة أخرى من البيج */
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #032B44; /* الكحلي */
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


